* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}
header .headerb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #c9c9c9;
  height: 44px;
  position: fixed;
  width: 100%;
}

.item {
  margin: 20px;
  color: rgb(225, 225, 225);
  text-decoration: none;
  font-weight: 400;
}

.item:hover {
  color: white;
}

i {
  margin: 20px;
  color: rgb(225, 225, 225);
}

i:hover {
  color: white;
}

.underheader {
  padding-top: 44px;
}
.underheader p {
  color: black;
  text-align: center;
  background-color: whitesmoke;
  padding: 12px;
}

.underheader p a {
  text-decoration: none;
  color: #0066cc;
  font-weight: 500;
}

.underheader p a:hover {
  text-decoration: underline;
}

#menu {
  display: none;
}

header .headers {
  display: none;
}

.headers label {
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  header .headers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #c9c9c9;
    height: 44px;
    position: fixed;
    width: 100%;
  }

  header .headers label,
  header .headers a {
    flex-grow: 1;
    background-color: green;
  }

  header .headers a {
    text-align: center;
  }
  header .headers .bag {
    text-align: right;
  }

  header .headerb {
    display: none;
  }
}
